.list{
    display: flex;  
}

img{
    width:300px;
    height:500px;
    cursor: pointer;
}

.list:hover .items{
    filter: grayscale(1) blur(10px);
}

.list:hover .items:hover{
    filter:none;
}


